<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Events App">
        <title>UNCC Events App - View your Events</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>

        <nav>
            <a href="{{url_for('index')}}"> Home</a> ||
            <a href="{{url_for('get_events')}}"> My Events</a>||
            <a href="{{ url_for('new_event') }}">Add an Event</a>
        </nav>

        <nav>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>

        <h1>Event Page</h1>

        <h2>Upcoming Events</h2>
        <table>
            <tr>
                <form method ="post" action="/events">
                    <button type="get_events" name="Sort_by_Name" value="Sort_by_Name"> Sort by Name </button>
                    <button type="get_events" name="Sort_by_Date" value="Sort_by_Date"> Sort by Date </button>
                </form>
                <th>Event Title || </th>
                <th>Event Date || </th>
                <th>Event Creator ||</th>
                <th>Event Description</th>
                <th></th>
            </tr>
            {% for other_event in other_events %}
            <tr>
                <td><a href="{{ url_for('get_event', event_id=other_event.id, event_type='other') }}">{{other_event.event_title}}</a></td>
                <td>{{ other_event.event_date }}</td>
                <td>{{ other_event.event_creator }}</td>
                <td>{{ other_event.event_description }}</td>
                <td>
                    <form method="post" action="/events">


                        {% if '|' ~ user_id ~ '|' in other_event.like %}
                        <button name="like" value="{{ other_event.id }}">Liked</button>
                        {% else %}
                        <button name="like" value="{{ other_event.id }}">Like</button>
                        {% endif %}

                        {{ other_event.count }}

                        {% if '|' ~ user_id ~ '|' in other_event.dislike %}
                        <button name="dislike" value="{{ other_event.id }}">Disliked</button>
                        {% else %}
                        <button name="dislike" value="{{ other_event.id }}">Dislike</button>
                        {% endif %}

                        {% if '|' ~ user_id ~ '|' in other_event.rsvp %}
                        <button name="rsvp" value="{{ other_event.id }}">RSVP</button>
                        {% else %}
                        <button name="rsvp" value="{{ other_event.id }}">UNDO RSVP</button>
                        {% endif %}

                    </form>
                </td>
                <td>
                    <form method="post" action="/events">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

        <h2>My Events</h2>
        <table>
            <tr>
                <th>Title | </th>
                <th>| Event Date |</th>
                <th>| Event Rating</th>
            </tr>
            {% for event in events %}
            <tr>
                <td><a href="{{ url_for('get_event', event_id=event.id, event_type='user') }}">{{event.event_title}}</a></td>
                <td>{{ event.event_date }}</td>
                <td>{{ event.count }} Like(s)</td>
                <td>
                    <form action="{{ url_for('update_event', event_id=event.id) }}" method="post">
                        <input type="submit" value="Edit">
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('delete_event', event_id=event.id) }}" method="post">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
