<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="UNCC Notes App" name="description">

        <title>Meet Central</title>
        <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    </head>

    <body>
        <nav>
            <a href="{{url_for('get_events')}}">Meet Central</a> ||
            <a href="{{url_for('get_events')}}">My Events</a> ||
            <a href="{{url_for('get_events')}}">RSVPed Events</a>
        </nav>

        <nav>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>

        <h1>{% if event %}
                Update Event
            {% else %}
                Create a New Event
            {% endif %}
        </h1>
        <h2>Tell us more about your event</h2>

        {% if event %}
        <form action="{{ url_for('update_event', event_id=event.id) }}" method="post">
            {% else %}
        <form action="{{ url_for('new_event') }}" method="post">
            {% endif %}
            <p><label>Title </label></p>
            <p><input name="title" type="text" value="{% if event %}{{event.event_title}}{% endif %}"/></p>


            <p><label>Meeting Description</label></p>
            <p>
                  <textarea cols="0" name="eventText" rows="6">
                      {% if event %}
                          {{event.event_description}}
                      {% else %}
                          Add your meeting description here...
                      {% endif %}
                  </textarea>
            </p>

            <p><label>Event Date</label></p>
            <p><input name="eventDate" type="date" value="MM-DD-YYYY" placeholder="dd-mm-yyyy"/></p>

            <p>
                {% if event %}
                <input type="submit" value="Update Event Details"/>
                {% else %}
                <input type="submit" value="Add Event"/>
                {% endif %}
            </p>
        </form>
    </body>
</html>
