<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="UNCC Notes App" name="description">

        <title>UNCC Notes App - New Note</title>
        <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    </head>

    <body>
        <nav>
            <a href="{{url_for('index')}}"> Home</a> ||
            <a href="{{url_for('get_events')}}"> My Meetings</a>
        </nav>

        <nav>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>

        <h1>Welcome {{user}} to Group 2 Many Guys' UNCC Events App!</h1>

        {% if event %}
        <form action="{{ url_for('update_event', event_id=event.id) }}" method="post">
            {% else %}
        <form action="{{ url_for('new_event') }}" method="post">
            {% endif %}
            <p><label>Title </label></p>
            <p><input name="title" type="text"/></p>

            <p><label>Meeting Description</label></p>
            <p>
                  <textarea cols="0" name="eventText" rows="6">
                      {% if event %}
                          {{event.text}}
                      {% else %}
                          Add your meeting description here...
                      {% endif %}
                  </textarea>
            </p>

            <p><label>Event Date</label></p>
            <p><input id="event_date" type="date" value="MM-DD-YYYY"/></p>

            <p>
                {% if event %}
                <input type="submit" value="Update Event Details"/>
                {% else %}
                <input type="submit" value="Add Event"/>
                {% endif %}
            </p>
        </form>
    </body>
</html>
